<mat-sidenav-container class="sidenav">
  <mat-sidenav-content class="content"> 
    <mat-toolbar class="toolbar">
      <span>CITIXEN - TASKS</span>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/my-task']" routerLinkActive="router-link-active" >My task</a>
      <a mat-button [routerLink]="['/tasks-completed']" routerLinkActive="router-link-active">Task Completed</a>
    </mat-toolbar> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>